{% extends "account/base_entrance.html" %}
{% block title %}Log out — {{ SITE_NAME }}{% endblock %}
{% block content %}
  <h1 style="text-align:center">Log out</h1>
  <p class="muted text-center">Are you sure you want to log out?</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">{% endif %}
    <button type="submit" class="btn btn-primary btn-block">Logout</button>
  </form>
{% endblock %}
